@model PostModel

@Html.Partial("Article", Model)

<section>
    <a class="muut" href="https://muut.com/i/musicvano/comments" type="dynamic">musicvano</a>
    <script src="//cdn.muut.com/1/moot.min.js"></script>
</section>