@model IEnumerable<Post>

<article>
    @foreach (var post in Model)
    {
        <header>
            <h1><a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">@post.Title</a></h1>
            <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;@post.DateCreated.ToString("yyyy-MMM-d HH:mm")
            <i class="fa fa-tags" aria-hidden="true"></i>&nbsp; tag1, tag2
        </header>
        <section>
            @Html.Raw(post.Content)
        </section>
    }
</article>

