@model IEnumerable<uBlog.Data.Entities.Post>
@{
    ViewBag.Title = "Posts";
}

<h1>Posts</h1>
@foreach (var post in Model)
{
    <a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">@post.Title</a>
    <p>@post.Content</p>
}

