// Base Styles
/// <reference path="../base/variables" />

// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-family;
    color: $font-color;
}

div {
    box-sizing: border-box;
}

// Links

a {
    background-color: transparent;
    color: $link-color;
    text-decoration: none;

    &:active {
        outline: 0;
    }

    &:hover {
        outline: 0;
        color: darken($link-color, 5%);
        text-decoration: underline;
    }
}


.link-text {
    color: $font-color;
    text-decoration: none;

    &:hover {
        color: $link-color;
        text-decoration: none;
    }
}

// Misc

hr {
    box-sizing: content-box;
    height: 0;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid $light-grey;
}

.photo {
    display: block;
    border-radius: $border-radius;
    margin: 0 auto 20px auto;
    max-height: 180px;
}

.comment {
    margin-bottom: 30px;

    a {
        color: $font-color;

        &:hover {
            color: $link-color;
        }
    }
}

.login {
    position: fixed;
    width: 200px;
    height: 280px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .input-wrapper {
        position: relative;
    }

    .iconed {
        padding-left: 30px;
    }

    .icon {
        position: absolute;
        left: 12px;
        top: 12px;
    }
}

blockquote {
    font-style: italic;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 140px;
    border-right: 1px solid $light-grey;

    ul {
        list-style-type: none;
        padding-top: 30px;
        padding-left: 20px;
    }

    a {
        display: block;
        color: $font-color;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            border-right: 3px solid $link-color;
        }
    }
}

.content {
    margin-left: 140px;
    padding: 0 20px;
}