@model List<TagModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tags";
    ViewBag.Keywords = String.Join(", ", Model.Select(t => t.Name).ToList());
}

<section class="section">
    <div class="container content">
        <h1 class="title">Tags</h1>
        @foreach (var tag in Model)
        {
            <p>
                <span class="icon"><i class="mdi mdi-tag-outline"></i></span>
                <a asp-controller="Tags" asp-action="Details" asp-route-slug="@tag.Slug">
                    @Html.Raw(tag.Name)
                </a>
            </p>
            <ol>
                @foreach (var post in tag.Posts)
                {
                    <li><a asp-controller="Posts" asp-action="Details" asp-route-slug="@post.Slug">@Html.Raw(post.Title)</a></li>
                }
            </ol>
        }
    </div>
</section>