<form ng-submit="$ctrl.savePost()">
    <input class="u-full-width" type="text" placeholder="Title of your post" id="title" ng-model="$ctrl.post.title">
    <div class="row">
        <div class="six columns">
            <span class="u-pull-right"><i class="fa fa-code" aria-hidden="true"></i> Markdown </span>
            <textarea class="u-full-width" placeholder="Text of your post" id="exampleMessage" ng-model="$ctrl.post.content" rows="20" msd-elastic></textarea>
            <div class="u-pull-right">
                <button type="button" ng-click="$ctrl.showHelp()">Help</button>
                <button class="button-primary" type="submit">Save</button>
            </div>
        </div>
        <div class="six columns">
            <span class="u-pull-right"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Preview</span>
            <span class="u-cf"></span>
            <div marked="$ctrl.post.content"></div>
        </div>
    </div>
</form>

