// Nav
/// <reference path="../base/variables" />

nav {
    border-bottom: 1px solid $light-grey;
    padding: 20px 0;
    margin-bottom: 40px;
    line-height: 40px;

    .logo {
        height: 40px;
        width: 40px;
        vertical-align: middle;
        border-radius: 50%;
    }

    a {
        color: $font-color;
        margin: 0 10px;
        text-decoration: none;

        &:hover {
            color: $link-color;
            text-decoration: none;
        }
    }

    .name {
        display: none;
    }

    #login {
        float: right;
        color: $light-grey;

        &:hover {
            color: $link-color;
        }
    }
}

@media (#{$bp-larger-than-tablet}) {
    nav {
        a {
            margin: 0 15px;
        }

        .name {
            margin-left: 10px;
            display: inline;
        }
    }
}