@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.SpaServices
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>uBlog - Admin panel</title>
    <base href="/admin/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <environment names="Development">
        <link href="~/libs/bulma/bulma.min.css" rel="stylesheet" />
        <link href="~/libs/mdi/css/materialdesignicons.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/libs/bulma/bulma.min.css" rel="stylesheet" />
        <link href="~/libs/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    </environment>
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="~/app/runtime.js"></script>
    <script type="text/javascript" src="~/app/polyfills.js"></script>
    <script type="text/javascript" src="~/app/styles.js"></script>
    <script type="text/javascript" src="~/app/vendor.js"></script>
    <script type="text/javascript" src="~/app/main.js"></script>
</body>
</html>