@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Microsoft.AspNetCore.SpaServices
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>uBlog - Admin panel</title>
    <base href="/admin/">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <environment names="Development">
        <link rel="stylesheet" href="~/libs/bulma/bulma.css" />
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/libs/bulma/bulma.min.css" />
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css" />
    </environment>
</head>
<body>
    <app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>
    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
</body>
</html>