<h1>Post list</h1>
<table class="u-full-width">
    <thead>
        <tr>
            <th>Title</th>
            <th>Tags</th>
            <th>Date</th>
            <th>Draft</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="post in $ctrl.posts">
            <td><a href="#!/posts/{{post.id}}/edit">{{post.title}}</a></td>
            <td>
                <span ng-repeat="tag in post.tags">
                    <a href="#!/tags/{{tag.id}}">{{tag.name}}</a>{{$last ? "" : ", "}}
                </span>                
            </td>
            <td>{{post.dateCreated | date: "MMM d, y"}}</td>
            <td>{{post.draft}}</td>
        </tr>
    </tbody>
</table>