// Base Styles
/// <reference path="../base/variables" />

// NOTE
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)

html {
    font-size: 62.5%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: $font-family;
    color: $font-color;
}

// Links

a {
    background-color: transparent;
    color: $link-color;
    text-decoration: none;

    &:active {
        outline: 0;
    }

    &:hover {
        outline: 0;
        color: darken($link-color, 5%);
        text-decoration: underline;
    }
}


// Misc

hr {
    box-sizing: content-box;
    height: 0;
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid $light-grey;
}

header {
    padding: 20px 0;

    a {
        color: $font-color;

        &:hover {
            text-decoration: none;
        }
    }

    .tag {
        margin-right: 10px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.photo {
    display: block;
    border-radius: $border-radius;
    margin: 0 auto 20px auto;
    max-height: 180px;
}

.comment {
    margin-bottom: 30px;

    a {
        color: $font-color;

        &:hover {
            color: $link-color;
        }
    }
}