<!DOCTYPE html>
<html ng-app="uBlog">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>uBlog - Admin panel</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <environment names="Development">
        <link href="~/css/skeleton.css" rel="stylesheet" />
        <link href="~/libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/libs/angular-loading-bar/loading-bar.css" rel="stylesheet" />
        <link href="~/libs/ng-foobar/ng-foobar.css" rel="stylesheet" />
        <link href="~/libs/ng-dialog/ngDialog.css" rel="stylesheet" />
        <link href="~/libs/ng-dialog/ngDialog-theme-default.css" rel="stylesheet" />

        <script src="~/libs/marked/marked.js"></script>
        <script src="~/libs/angular/angular.js"></script>
        <script src="~/libs/angular/angular-route.js"></script>
        <script src="~/libs/angular/angular-cookies.js"></script>
        <script src="~/libs/angular/angular-resource.js"></script>
        <script src="~/libs/angular/angular-sanitize.js"></script>
        <script src="~/libs/angular-marked/angular-marked.js"></script>
        <script src="~/libs/angular-elastic/elastic.js"></script>
        <script src="~/libs/angular-loading-bar/loading-bar.js"></script>
        <script src="~/libs/ng-foobar/ng-foobar.js"></script>
        <script src="~/libs/ng-dialog/ngDialog.js"></script>

        <script src="~/app/app.module.js"></script>
        <script src="~/app/app.routes.js"></script>
        <script src="~/app/core/core.module.js"></script>
        <script src="~/app/core/authService.js"></script>
        <script src="~/app/main-menu/main-menu.module.js"></script>
        <script src="~/app/main-menu/main-menu.component.js"></script>
        <script src="~/app/post/post.module.js"></script>
        <script src="~/app/post/postService.js"></script>
        <script src="~/app/post/post-list.component.js"></script>
        <script src="~/app/post/post-edit.component.js"></script>
        <script src="~/app/post/post-new.component.js"></script>
        <script src="~/app/search/search.module.js"></script>
        <script src="~/app/search/search.component.js"></script>
        <script src="~/app/settings/settings.module.js"></script>
        <script src="~/app/settings/settings.component.js"></script>
    </environment>
    @*<environment names="Staging,Production">
        <link href="~/css/skeleton.min.css" rel="stylesheet" />
        <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <script src="~/libs/angular/angular.min.js"></script>
        <script src="~/libs/angular/angular-route.min.js"></script>
        <script src="~/libs/angular/angular-cookies.min.js"></script>
        <script src="~/libs/angular/angular-resource.min.js"></script>
        <script src="~/app/app.module.js"></script>
        <script src="~/app/app.routes.js"></script>
        <script src="~/app/core/core.module.js"></script>
        <script src="~/app/core/authService.js"></script>
        <script src="~/app/core/postService.js"></script>
        <script src="~/app/login/login.component.js"></script>
        <script src="~/app/post-list/post-list.module.js"></script>
        <script src="~/app/post-list/post-list.component.js"></script>
        <script src="~/app/post-detail/post-detail.module.js"></script>
        <script src="~/app/post-detail/post-detail.component.js"></script>
    </environment>*@
</head>
<body>
    <div class="menu">
        <ul>
            <li><b>Dashboard</b></li>
            <li><a href="#!/posts/new"><i class="fa fa-plus" aria-hidden="true"></i> New post</a></li>
            <li><a href="#!/posts"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Posts</a></li>
            <li><a href="#!/search"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
            <li><a href="#!/settings"><i class="fa fa-cogs" aria-hidden="true"></i> Settings</a></li>
        </ul>
    </div>
    <div class="content">
        <div ng-view></div>
    </div>    
</body>
</html>



