@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex">
    <title>uBlog - Admin panel</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/libs/bulma/bulma.css" />
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/libs/bulma/bulma.min.css" />
        <link rel="stylesheet" href="~/libs/font-awesome/css/font-awesome.min.css" />
    </environment>
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="~/dist/inline.bundle.js"></script>
    <script type="text/javascript" src="~/dist/polyfills.bundle.js"></script>
    <script type="text/javascript" src="~/dist/vendor.bundle.js"></script>
    <script type="text/javascript" src="~/dist/main.bundle.js"></script>
</body>
</html>