<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-narrow">
                <nav-menu></nav-menu>
            </div>
            <div class="column">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="container has-text-centered">
        <p>© 2017 User Name</p>
        <small>Powered by <a href="https://github.com/musicvano/uBlog">uBlog</a></small>
    </div>
</footer>