// Article
/// <reference path="../base/variables" />

article {
    .article-header {
        margin-bottom: 30px;

        .tag {
            margin-right: 20px;
        }
    }

    .article-footer {
        text-align: right;
        margin-bottom: 50px;

        .footer-item {
            margin: 0 20px;
        }
    }

    .share {
        text-align: right;
        margin: 20px 0;
    }
}
