@model List<TagDetailModel>
@{
    const int countGroups = 3;
    var groups = Model.Split(countGroups).ToList();
}

<header>
    <h1>Tags</h1>
</header>
<div class="row">
    @foreach (var group in groups)
    {
        <div class="one-third column">
            @foreach (var tag in group)
            {
                <div>
                    <a asp-controller="Tags" asp-action="Details" asp-route-slug="@tag.Slug">@tag.Name</a>
                    <code class="">@tag.PostCount</code>
                </div>
            }
        </div>
    }
</div>