@model List<TagDetailModel>

<header>
    <h1>Tags</h1>
</header>
<div class="row">
    <ul>
        @foreach (var tag in Model)
        {
            <li>
                <a asp-controller="Tags" asp-action="Details" asp-route-slug="@tag.Slug">@tag.Name</a>
                <code>@tag.PostCount</code>
            </li>
        }
    </ul>
</div>