<!DOCTYPE html>
<html ng-app="uBlog">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(ViewBag.Title)</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <environment names="Development">
        <link href="~/css/skeleton.css" rel="stylesheet" />
        <link href="~/libs/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <script src="~/libs/angular/angular.js"></script>
        <script src="~/libs/angular/angular-route.js"></script>
        <script src="~/libs/angular/angular-resource.js"></script>
        <script src="~/app/app.module.js"></script>
        <script src="~/app/app.routes.js"></script>
        <script src="~/app/core/core.module.js"></script>
        <script src="~/app/core/postService.js"></script>
        <script src="~/app/post-list/post-list.module.js"></script>
        <script src="~/app/post-list/post-list.component.js"></script>
        <script src="~/app/post-detail/post-detail.module.js"></script>
        <script src="~/app/post-detail/post-detail.component.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link href="~/css/skeleton.min.css" rel="stylesheet" />
        <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <script src="~/libs/angular/angular.min.js"></script>
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>