@inject IConfigService configService
@inject ITagService tagService
@model List<PostModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = configService.Title;
    ViewBag.Keywords = String.Join(", ", tagService.GetAll());
}
<section class="hero is-warning">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Html.Raw(configService.Title)
            </h1>
        </div>
    </div>
</section>
@if (Model.Count > 0)
{
    @foreach (var post in Model)
    {
        <section class="section">
            <div class="container">
                <article class="content">
                    @Html.Partial("PostHeader", post)
                    @Html.Raw(post.Content)
                    <hr />
                    @Html.Partial("PostFooter", post)
                </article>
            </div>
        </section>
    }
}
else
{
    <section class="section">
        <div class="container">
            <h1 class="title">Sorry. There are no posts</h1>
        </div>
    </section>
}