@model List<PostModel>
@{
    var tags = Model.Select(p => p.Tags).SelectMany(t => t).Select(t => t.Name).ToList();
    ViewBag.Keywords = String.Join(", ", tags);
}

@if (Model.Count > 0)
{
    @foreach (var post in Model)
    {
        <section class="section">
            <div class="container">
                <article class="content">
                    @Html.Partial("PostHeader", post)
                    @Html.Raw(post.Content)
                    <hr />
                    @Html.Partial("PostFooter", post)
                </article>
            </div>
        </section>
    }
}
else
{
    <section class="section">
        <div class="container">
            <h2 class="subtitle">Sorry. There are no posts</h2>
        </div>
    </section>
}