<form class="login" ng-submit="login()">
    <h1 class="center">Sign in</h1>    
    <div>
        <input name="username" type="text" placeholder="Username" ng-model="username" required class="iconed" />
        <i class="fa fa-user icon" aria-hidden="true"></i>
    </div>
    <div>
        <input name="password" type="password" placeholder="Password" ng-model="password" required class="iconed" />
        <i class="fa fa-lock icon" aria-hidden="true"></i>
    </div>
    <button type="submit" class="button-primary u-full-width">Login</button>
    <div ng-show="error" class="warning">{{error}}</div>
</form>
