<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="generator" content="uBlog">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>uBlog Web Installer</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <link href="~/css/skeleton.min.css" rel="stylesheet" />
    <link href="~/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="center"><img src="~/images/logo.png" alt="Logo" /></div>
            <h1 class="center">uBlog Web Installer</h1>
            <h2 class="warning">@ViewBag.Message</h2>
            <p>Before you proceed with the installation, you should:</p>
            <ol>
                <li>Configure file <code>appsettings.json</code>.</li>
                <li>Set write permissions for folder <code>AppData</code>, where database and logs will be located.</li>
                <li>Additional information could be found on <a href="https://github.com/musicvano/uBlog/wiki">Wiki</a>.</li>
            </ol>
            <form asp-controller="Install" asp-action="Index" method="post" class="center">
                <button class="button-primary" type="submit">Install</button>
            </form>
            <footer>
                Powered by <a href="https://github.com/musicvano/ublog" title="Version @AppSettings.Version">uBlog</a>
            </footer>
        </div>
    </div>
</body>
</html>