<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <h1 class="title">uBlog</h1>
      </a>
    </div>
    <div class="nav-right nav-menu">
      <div class="nav-item">
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="text" placeholder="Search">
          </p>
          <p class="control">
            <a class="button">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
      <a class="nav-item is-tab">Log out</a>
    </div>
  </div>
</nav>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-narrow">
        <aside class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li>
              <a class="is-active">
                <span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span>
                <span>New Post</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fa fa-file-text-o"></i></span>
                <span>Content</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fa fa-tags"></i></span>
                <span>Tags</span>
              </a>
            </li>
            <li>
              <a>
                <span class="icon is-small"><i class="fa fa-cogs"></i></span>
                <span>Settings</span>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container has-text-centered">
    © 2017 uBlog Admin Panel.
    <br />
    Powered by <a href="https://github.com/musicvano/ublog">uBlog</a>.
  </div>
</footer>